<h2>Cliente</h2>
<div>
  <div>
    <%= @costumer.name %>
  </div>
  <div>
    <%= @costumer.address %>
  </div>
  <div>
    <%= @costumer.document %>
  </div>
  <div>
    <%= @costumer.email %>
  </div>
  <div>
    <%= @costumer.phone %>
  </div>
  <div>
    <%= @costumer.birth_date %>
  </div>
</div>

