<h2>Cliente</h2>
<div>
  <div>
    <%= @customer.name %>
  </div>
  <div>
    <%= @customer.address %>
  </div>
  <div>
    <%= @customer.document %>
  </div>
  <div>
    <%= @customer.email %>
  </div>
  <div>
    <%= @customer.phone %>
  </div>
  <div>
    <%= @customer.birth_date %>
  </div>
</div>

