<%= form_with model: customer, class: 'ls-form ls-form-horizontal row' do |f| %>
  <div class = 'ls-label col-md-6'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='ls-label col-md-6'>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class='ls-label col-md-6'>
    <%= f.label :document %>
    <%= f.text_field :document %>
  </div>
  <div class='ls-label col-md-6'>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class='ls-label col-md-6'>  
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class='ls-label col-md-6'>  
    <%= f.label :birth_date %>
    <%= f.text_field :birth_date, class:"datepicker" %>
  </div>
  <div>
    <div class='ls-actions-btn' >
        <%= f.submit 'Salvar', class: 'ls-btn' %>
        <%= link_to 'Cancelar', url_for(:back), class:"ls-btn-danger" %>
    </div>
  </div>
<% end %>