<h1><%= Customer.model_name.human(count: 2) %></h1>

<%= link_to 'Registrar Novo', new_customer_path %>

<section>
  <%= form_tag search_customers_path, method: 'get' do %>
    <%= label_tag :q, 'Pesquisar' %>
    <%= text_field_tag :q %>
    <%= submit_tag 'Buscar'%>
  <% end %>
</section>

<% if @customers.empty? && params[:q] %>
  <p>Cliente não cadastrado</p>
<% else %>
<table class="ls-table">
  <% @customers.each do |customer| %>
    <thead>
      <tr>
        <th><%= Customer.human_attribute_name(:name) %></th>
        <th><%= Customer.human_attribute_name(:document) %></th>
        <th><%= Customer.human_attribute_name(:email) %></th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.document %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Novo Pedido', new_customer_order_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>