<h1>Clientes</h1>

<%= link_to 'Registrar Novo', new_customer_path %>

<section>
  <%= form_tag search_customers_path, method: 'get' do %>
    <%= label_tag :q, 'Pesquisar' %>
    <%= text_field_tag :q %>
    <%= submit_tag 'Buscar'%>
  <% end %>
</section>

<% if @customers.empty? && params[:q] %>
  <p>Cliente não cadastrado</p>
<% else %>
<table class="ls-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.document %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Novo Pedido', new_customer_order_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>