<h1><%= Customer.model_name.human(count: 2) %></h1>
<section>
  <%= form_tag search_customers_path, method: 'get' do %>
    <%= label_tag :q, 'Pesquisar' %>
    <%= text_field_tag :q %>
    <%= submit_tag 'Buscar'%>
  <% end %>
</section>

<% if @customers.empty? && params[:q] %>
  <p>Cliente não cadastrado</p>
<% else %>
  <table class="ls-table">
  <% @customers.each do |customer| %>
    <thead>
      <tr>
        <th><%= Customer.human_attribute_name(:name) %></th>
        <th><%= Customer.human_attribute_name(:name) %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to customer.name, customer_path(customer) %></td>
        <td><%= customer.email %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<% end %>
<%= link_to 'Registrar Novo', new_customer_path %>


