<h1>Editar <%= Order.model_name.human(count: 1) %>/h1>
<%= form_with model: @order, local: true do |form| %>
  <p>
  <%= form.label :customer_id %>
  <%= form.collection_select :customer_id, @customers, :id, :identification, prompt: true %>
  <p>
  <%= form.label :product_id %>
  <%= form.collection_select :product_id, @products, :id, :name, prompt: true %>

  <%= form.label :plan_id %>
  <%= form.collection_select :plan_id, @plans, :id, :name, prompt: true %>

  <%= form.label :price_id %>
  <%= form.collection_select :price_id, @prices, :id, :expose, prompt: true %>

  <%= form.label :coupon_name %>
  <%= form.text_field :coupon_name %>
  
  <p><%= form.submit 'Efetivar' %></p>
<% end %>
