<h1>Editar Pedido</h1>
<%= form_with model: @order, local: true do |form| %>
  <p>
  <%= form.label :customer_id %>
  <%= form.collection_select :customer_id, @customers, :id, :identification, prompt: true %>
  <p>
  <%= form.label :product_id %>
  <%= form.collection_select :product_id, @products, :id, :name, prompt: true %>

  <%= form.label :plan_id, 'Planos' %>
  <%= form.collection_select :plan_id, @plans, :id, :name, prompt: true %>

  <%= form.label :price_id, 'Período' %>
  <%= form.collection_select :price_id, @prices, :id, :name, prompt: true %>

  <p><%= form.submit 'Efetivar' %></p>
<% end %>
