<h1>Cadastrar Pedido</h1>

  <% if @order.errors.any? %>
  <% @order.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

<%= form_with model: [@customer, @order], local: true do |form| %>

  <%= form.label :product, 'Produtos' %>
  <%= form.collection_select :product, @products, :name, :name, prompt: true %>

  <p><%= form.submit 'Efetivar' %></p>
<% end %>
