<%= notice %>

<%= @order.code %>
<p>Status: <%= Order.human_attribute_name(@order.status) %></p>
<% if @order.cancelled? %>
  <h3><%= Order.human_attribute_name(:cancellation_reason)%></h3> 
  <p><%= @order.cancellation_reason %></p>
<% end %>

<% if @order.status == 'open' %>
  <%= link_to 'Cancelar', cancel_order_path(@order) %>
<% end %>
