<div class="signin">
  <h2 class="ls-title-intro">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="ls-label col-md-3 align-item" style="margin-top:2vw">
        <%= f.label :email, class: "sr-only"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
      </div>

      <div class="ls-label col-md-3 align-item">
        <%= f.label :password, class: "sr-only" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Senha" %>
      </div>
      <%= f.submit "Entrar", class: "ls-btn-primary align-item col-md-3" %>
      <div class="align-item remember-me">
        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        <% end %>
      </div>
    
    <% end %>
    <div class="links">
      <%= render "devise/shared/links" %>
      <p>© Campus Code</p>
    </div>
