<h2>
  Bem-vindo(a) <%= @customer.name %>,
</h2>

<p>
  <strong>Seu cadastro foi realizado com sucesso!!!</strong><br><br>

  Nome: <strong><%= @customer.name %></strong><br>
  Data de nascimento: <strong><%= @customer.birth_date %></strong><br>
  Endereço: <strong><%= @customer.address %></strong><br>
  CPF: <strong><%= @customer.document %></strong><br>
  E-mail: <strong><%= @customer.email %></strong><br>
  Telefone: <strong><%= @customer.phone %></strong><br><br>

  Atenciosamente,<br>
  Equipe Mini Locaweb<br>
</p>

